<div class="col-lg-2 sidebar">

    <div class="pt-4">

        <h4 class="text-center text-white mb-5">
            <i class="bi bi-heart-pulse-fill"></i>
            IPCM
        </h4>

        <a href="/admin" class="nav-link">
            <i class="bi bi-grid"></i>
            Dashboard
        </a>

        <a href="/patients" class="nav-link">
            <i class="bi bi-people"></i>
            Patients
        </a>

        <a href="/doctors" class="nav-link">
            <i class="bi bi-person-badge"></i>
            Doctors
        </a>

        <a href="/appointments" class="nav-link">
            <i class="bi bi-calendar-check"></i>
            Appointments
        </a>

        <a href="#" class="nav-link">
            <i class="bi bi-file-earmark-bar-graph"></i>
            Reports
        </a>

    </div>

</div>