<!DOCTYPE html>
<html>
<head>
    <title>Doctor Registration</title>
</head>
<body>

<h2>Doctor Registration</h2>

<form method="POST">

<input type="text" name="name" placeholder="Name" required><br><br>

<input type="text" name="specialization" placeholder="Specialization" required><br><br>

<input type="text" name="qualification" placeholder="Qualification" required><br><br>

<input type="text" name="department" placeholder="Department" required><br><br>

<input type="text" name="contact" placeholder="Contact" required><br><br>

<input type="email" name="email" placeholder="Email" required><br><br>

<input type="text" name="available_time" placeholder="Available Time" required><br><br>

<input type="submit" value="Register Doctor">

</form>

</body>
</html>