<!DOCTYPE html>
<html>
<head>
    <title>Edit Doctor</title>
</head>
<body>

<h2>Edit Doctor</h2>

<form method="POST">

<input type="text" name="name" value="{{ doctor.name }}" required><br><br>

<input type="text" name="specialization" value="{{ doctor.specialization }}" required><br><br>

<input type="text" name="qualification" value="{{ doctor.qualification }}" required><br><br>

<input type="text" name="department" value="{{ doctor.department }}" required><br><br>

<input type="text" name="contact" value="{{ doctor.contact }}" required><br><br>

<input type="email" name="email" value="{{ doctor.email }}" required><br><br>

<input type="text" name="available_time" value="{{ doctor.available_time }}" required><br><br>

<input type="submit" value="Update Doctor">

</form>

</body>
</html>