<!DOCTYPE html>
<html>
<head>
    <title>Patients</title>
</head>
<body>

<h2>Patient List</h2>

<table border="1">

<tr>
    <th>ID</th>
    <th>Name</th>
    <th>Age</th>
    <th>Gender</th>
    <th>Contact</th>
    <th>Blood Group</th>
    <th>Action</th>
</tr>

{% for patient in patients %}

<tr>
    <td>{{ patient.id }}</td>
    <td>{{ patient.fullname }}</td>
    <td>{{ patient.age }}</td>
    <td>{{ patient.gender }}</td>
    <td>{{ patient.contact }}</td>
    <td>{{ patient.blood_group }}</td>
    <td>
        <a href="/patients/profile/{{ patient.id }}">View</a> |
        <a href="/patients/edit/{{ patient.id }}">Edit</a>
    </td>
</tr>

{% endfor %}

</table>

</body>
</html>